/* My CSS */ 

html {
  background-color: #09131B;
}

.title {
  color: #d1d6da;
}

.transition-btn {
  height: 100px
}

.image {
  display: inline-block;
}

/* .container {
  margin-bottom: 25px;
} */

@media screen and (min-width: 1024px) {
  .section.is-medium {
    padding-top: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
  }
}
/* Default CSS */

body {
  background: #111c27;
  font: 16px/1.6 "Open Sans",Helvetica,Arial,sans-serif;
  color: #d1d6da;
}

strong {
  background: #111c27;
  font: 16px/1.6 "Open Sans",Helvetica,Arial,sans-serif;
  color: #d1d6da;
}

ul {
  list-style-type: none;
}

img {
  border-radius: 20%;
  height: 200px;
}

.topright {
  line-height: 12px;
  font-size: 14px;
  margin-top: 15px;
  margin-right: 10px;
  position:absolute;
  top:0;
  right:0;
}

.wrap{
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
  margin-bottom: 25px;
}
.center{
  text-align: center;
  margin-bottom: 20px;
}

.section-title{
  margin-bottom: 25px;
}

.section-title h1{
    margin: 0;
    line-height: 50px;
    letter-spacing: 5px;
    font-weight: 600;
    color: white;
    font-size: x-large;
}
.section-title h2{
  margin: 0;
  line-height: 50px;
  letter-spacing: 5px;
  font-weight: 600;
  color: #bac3cafd;
}.section-title-grey h2{
  margin: 0;
  line-height: 50px;
  letter-spacing: 5px;
  font-weight: 600;
  color: #697279;
}.border{
  display: block;
  height: 10px;
  margin-bottom: 40px;
  width: 100px;
  background: #ED5565;
}
.row{
  width: 50%;
  min-height: 1px;
  float: left;
  position: relative;
  display: inline-block;
}.row ul {
  margin: 0 20px 0 0 !important;
  text-align: left !important;
  padding: 0;
}.row ul li{
  list-style: none !important;

}.row ul li em{
  display: block;
  margin-bottom: 15px;
}.row ul li div{
  margin-bottom: 35px;
  border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  background: #09131B;
  height: 42px;
  overflow: hidden;
}.row ul li div span{
  height: 42px;
  width: 50%;
  display: block;
  border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
}
.row ul li.mean div span { background: #E13C4C; width: 75%; }
.row ul li.meteor div span { background: #ffdb43; width: 85%; }
.row ul li.keystone div span { background: #9D2027; width: 100%; }
.row ul li.nosql div span { background: #3498db; width: 90%; }
.row ul li.api div span { background: #2ecc71; width: 80%; }
.row ul li.ionic div span { background: #A94034; width: 60%; }


.row ul li.swift div span { background: #E13C4C; width: 80%; }
.row ul li.jandroid div span { background: #ffdb43; width: 20%; }
.row ul li.ios div span { background: #9D2027; width: 100%; }
.row ul li.android div span { background: #3498db; width: 60%; }

.row ul li.windows div span { background: #2ecc71; width: 80%; }
.row ul li.mac div span { background: #A94034; width: 100%; }
.row ul li.linux div span { background: #E13C4C; width: 70%; }
.row ul li.git div span { background: #ffdb43; width: 95%; }
.row ul li.redaction div span { background: #9D2027; width: 100%; }
.row ul li.english div span { background: #3498db; width: 95%; }



.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}


.pulse:hover,
.pulse:focus {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}
.pulse {
  --color: #E13C4C;
  --hover: #9D2027;
}

/* button {
  color: var(--color);
  transition: 0.25s;
}
button:hover, button:focus {
  border-color: var(--hover);
  color: #fff;
}

button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
} */

button,
button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

button {
  background: none;
  border: 3px solid #fff;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 1.6em;
  font-weight: bold;
  margin: 1em auto;
  padding: 2em 6em;
  position: relative;
  text-transform: uppercase;
}

button::before,
button::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover {
  color: #ED5565;
}

.btn-4::before {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-4::after {
  background: #ED5565;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-4:hover:after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}

a {
  text-decoration: none;
}
